/*

Template: Sofbox - Responsive Software Landing Page
Author: iqonicthemes.in
Version: 3.0
Design and Developed by: iqonicthemes.in

NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!

*/

@import 'color/color-10.css';

/* -------------------------------------------------*/
/* Partners */
/* -------------------------------------------------*/

#partners .iq-works-box {
  padding: 20px;
  margin-bottom: 20px;
}

#partners h6 {
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  height: 30px;
}

#partners .iq-works-box .logo {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  position: relative;
}

#partners .iq-works-box .logo img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* -------------------------------------------------*/
/* Schedule */
/* -------------------------------------------------*/

#schedule {
  color: #666666;
}

#schedule .services-content ul {
  padding-left: 18px;
}

#schedule .services-content li {
  list-style: square;
}

#schedule .iq-services-box {
  background: #fff;
  border: 1px solid #f2f2f2;
  padding: 30px;
}

@media(min-width:992px) {
  #partners .iq-works-box {
    height: 420px;
  }
}