@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import 'color/color-10.css';

body {
  font-family: 'Montserrat', sans-serif;
}

header {
  padding:0px;
}

header.menu-sticky .navbar .navbar-brand img,
header .navbar .navbar-brand img {
    height: 70px;
}

header .container-fluid {
    padding: 0 20px;
}

header.menu-sticky {
    padding: 0
}

.iq-banner .banner-text h1 {
    font-size: 4vw;
    line-height: normal;
}

.banner-img-products {
    margin-top: -50px;
}

.header_sub_text {
  font-weight: 300;
  color: #1b5171;
  font-size: 3vw;
  line-height: 45px;
}

.readable {
    background-color: rgba(0, 0, 0, 0.7);
}

.footer-form {
  background: url('/assets/front/img/girl_jumping.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.iq-get-in {
  background: rgba(255, 255, 255, 0.75);
}

.drop {
  cursor: s-resize;
}

.img_container_right {
  width: 50%;
  float: right;
  padding: 0px 0px 10px 10px;
}

.img_container_left {
  width: 50%;
  float: left;
  padding: 0px 10px 10px 0px;
}

.heading-title {
    margin-bottom: 60px;
}

.fa-adj {   
  padding-top: 10px;
}

.font_size_20 {
  font-size: 17px;
}

.pointer {
  cursor: pointer;
}

.awards td {
  text-align: center;
  border: 1px solid #ddd;
}

.iq-banner .banner-text {
    margin-bottom: 60px;
}

.home-top-text h1 {
  margin-bottom: 20px;
}

.mileposts-works {
  margin-bottom: 20px;
}

.padding15 {
    margin: 15px;
}

.info-share li {
  padding: 3px;
}
/* -------------------------------------------------*/
/* Header */
/* -------------------------------------------------*/
header.header-green { 
  background: rgba(0, 128, 0, .7); 
}

#dropdown_menu{
  top: 44px;
  background: rgba(102, 194, 41, 0.8);
  text-align: center;
  border: 1px solid #fff;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.dropdown-divider {
    margin: 0px;
}

.dropdown:hover>.dropdown-menu{
  display: block;
}

#dropdown_item:hover{
  background: rgba(0, 128, 0, 0.9);
}

/* -------------------------------------------------*/
/* Home */
/* -------------------------------------------------*/

.goto_about {
    margin: 20px;
}

.solution {
  cursor: pointer;  
}

.solution img {
  margin-bottom: 30px;
}

.r4-mt-30 {
    margin-top: 30px;
}

.core_features_desc {
  font-size: 15px;
}
/* -------------------------------------------------*/
/* Partners */
/* -------------------------------------------------*/

#partners .iq-works-box {
  padding: 20px;
  margin-bottom: 20px;
}

#partners h6 {
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  height: 30px;
}

#partners .iq-works-box .logo {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  position: relative;
}

#partners .iq-works-box .logo img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* -------------------------------------------------*/
/* Schedule */
/* -------------------------------------------------*/

#schedule {
  color: #666666;
}

#schedule .services-content ul {
  padding-left: 18px;
}

#schedule .services-content li {
  list-style: square;
}

#schedule .iq-services-box {
  background: #fff;
  border: 1px solid #f2f2f2;
  padding: 30px;
}

/* -------------------------------------------------*/
/* Contact */
/* -------------------------------------------------*/

#contact .iq-amazing-tab .nav.nav-tabs li {
    margin-bottom: 0;
    display: inline-block;
    float: none;
    width: 45%;
    position: relative;
}

#contact .nav-link.show {
  border-bottom: 2px solid #7fc129;
  background-color: #f5f7fb !important;
}

.iq-over-sb-60:before { 
  content: ""; 
  height: 100%; 
  left: 0; 
  position: absolute; 
  top: 0; 
  width: 100%; 
  z-index: -1; 
  background: rgba(0, 0, 0, 0.40); 
}