@import 'color/color-10.css';

.drop {
  cursor: s-resize;
}

.img_container_right {
  width: 50%;
  float: right;
  padding: 0px 0px 10px 10px;
}

.img_container_left {
  width: 50%;
  float: left;
  padding: 0px 10px 10px 0px;
}

/* -------------------------------------------------*/
/* Header */
/* -------------------------------------------------*/
header.header-green { background: #7fc229; }

#dropdown_menu{
  top: 44px;
  background: #66c229;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
}

.dropdown-divider {
    margin: 0px;
}

.dropdown:hover>.dropdown-menu{
  display: block;
}

#dropdown_item:hover{
  background: green;
}



/* -------------------------------------------------*/
/* Partners */
/* -------------------------------------------------*/

#partners .iq-works-box {
  padding: 20px;
  margin-bottom: 20px;
}

#partners h6 {
  font-size: 15px;
  font-style: normal;
  line-height: 20px;
  height: 30px;
}

#partners .iq-works-box .logo {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  position: relative;
}

#partners .iq-works-box .logo img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* -------------------------------------------------*/
/* Schedule */
/* -------------------------------------------------*/

#schedule {
  color: #666666;
}

#schedule .services-content ul {
  padding-left: 18px;
}

#schedule .services-content li {
  list-style: square;
}

#schedule .iq-services-box {
  background: #fff;
  border: 1px solid #f2f2f2;
  padding: 30px;
}

/* -------------------------------------------------*/
/* Contact */
/* -------------------------------------------------*/

#contact .iq-amazing-tab .nav.nav-tabs li {
    margin-bottom: 0;
    display: inline-block;
    float: none;
    width: 45%;
    position: relative;
}

#contact .nav-link.show {
  border-bottom: 2px solid #7fc129;
  background-color: #f5f7fb !important;
}

.iq-over-sb-60:before { 
  content: ""; 
  height: 100%; 
  left: 0; 
  position: absolute; 
  top: 0; 
  width: 100%; 
  z-index: -1; 
  background: rgba(0, 0, 0, 0.40); 
}

@media(min-width:992px) {
  #partners .iq-works-box {
    height: 420px;
  }
  
  #mile-post-features .iq-works-box {
    height: 390px;
  }
  
  .client-info p {
    height: 353px;
  }
}